<div class="row mb-4 mt-3 ">
  <div class="col-2 font1 para-2 badge text-bg-dark">Skills</div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-3 mx-4">
      <div class="card border-secondary card-height">
        <div class="card-img-top ill1 mx-5">
          <img
            class="img-fill"
            width="380"
            height="300"
            src="../assets/Backend_ill2.jpg"
            alt="Card image2 cap"
          />
        </div>
        <div
          class="text-white bg-secondary mb-0 card-height"
          style="max-width: fit-content"
        >
          <div class="card-header para-2 font28">Backend Technologies:</div>
          <div class="card-body mt-5 text-center">
            <h5 class="card-title mb-2">ASP.NET Core</h5>
            <ul class="list-unstyled">
              <li class="mb-2">
                <b>MVC Architecture, RESTful API Development</b>
              </li>
              <li class="mb-2">
                <b>Entity-Framework Core, ADO.NET</b>
              </li>
              <li class="mb-2">
                <b>Razor Pages:</b>Page Routing, Forms, Handlers, Pages,
                Directives, Tag Helpers, ViewComponents, Services
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 mx-4">
      <div class="card border-secondary">
        <div class="card-img-top ill1 mx-5">
          <img
            class="img-fill"
            width="354"
            height="300"
            src="../assets/Frontend_ill.jpg"
            alt="Card image2 cap"
          />
        </div>
        <div class="bg-secondary mb-0" style="max-width: fit-content">
          <div class="card-header para-2 font28">Frontend Technologies:</div>
          <div class="card-body text-center text-white">
            <h5 class="card-title mb-3">HTML5,CSS3,Bootstrap</h5>
            <h5 class="card-title mb-3">Javascript: Jquery,TypeScript</h5>
            <h5 class="card-title mb-2">Angular 15:</h5>

            <ul class="list-unstyled">
              <li class="mb-2">
                <b>Angular CLI:</b> Command-line interface for Angular to
                create, manage, and build Angular projects.
              </li>
              <li class="mb-2">
                <b>RxJS:</b> Library for reactive programming used heavily
                within Angular for handling asynchronous data streams.
              </li>
              <li class="mb-2">
                <b>Others:</b>Directives, Templates, Data Binding, Dependency
                Injection, Routing, Reactive Forms, HttpClient Module.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 mx-4">
      <div class="card border-secondary card-height">
        <div class="card-img-top ill1 mx-5">
          <img
            class="img-fill"
            width="354"
            height="300"
            src="../assets/Database_ill.jpg"
            alt="Card image2 cap"
          />
        </div>
        <div
          class="text-white bg-secondary mb-0 card-height text-center"
          style="max-width: fit-content"
        >
          <div class="card-header para-2 font28">Database Management:</div>
          <div class="card-body mt-4">
            <h5 class="card-title mb-3">Relational Databases</h5>

            <h5 class="card-title mb-2">MYSQL</h5>

            <ul class="list-unstyled">
              <li class="mb-2">
                <b> SQL Server:</b> Strong command over designing and managing
                SQL Server databases, optimizing queries, and ensuring data
                integrity.
              </li>
              <li class="mb-2">
                Stored Procedures, Triggers, DML, DDL commands etc.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-3 mx-4 my-5">
      <div class="card border-secondary card-height">
        <div class="card-img-top ill1 mx-5">
          <img
            class="img-fill"
            width="354"
            height="300"
            src="../assets/Tool3_ill.jpg"
            alt="Card image2 cap"
          />
        </div>
        <div
          class="text-white bg-secondary mb-0 card-height text-center"
          style="max-width: 40rem"
        >
          <div class="card-header para-2 font28">IDEs and Tools:</div>
          <div class="card-body mt-5 text-center">
            <h5 class="card-title mb-2">Visual Studio Code</h5>
            <ul class="list-unstyled">
              <li class="mb-2">
                <b>Visual Studio, Eclipse</b>
              </li>
              <li class="mb-2">
                <b>Sublime Text, Atom</b>
              </li>
              <li class="mb-2">
                <b>Git, Docker</b>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 mx-4 my-5">
      <div class="card border-secondary card-height">
        <div class="card-img-top ill1 mx-5">
          <img
            class="img-fill"
            width="354"
            height="300"
            src="../assets/Lang_ill.jpg"
            alt="Card image2 cap"
          />
        </div>
        <div
          class="text-white bg-secondary mb-0 card-height text-center"
          style="max-width: 40rem"
        >
          <div class="card-header para-2 font28">Programming Languages:</div>
          <div class="card-body mt-5">
            <h5 class="card-title mb-2">C Sharp</h5>
            <h5 class="card-title mb-3">C, C++, Java</h5>

            <ul class="list-unstyled">
              <li class="mb-2"><b>JavaScript</b>: TypeScript, Jquery</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 mx-4 my-5">
      <div class="card border-secondary card-height">
        <div class="card-img-top ill1 mx-5">
          <img
            class="img-fill"
            width="354"
            height="300"
            src="../assets/Addskill_ill.jpg"
            alt="Card image2 cap"
          />
        </div>
        <div
          class="text-white bg-secondary mb-0 card-height text-center"
          style="max-width: fit-content"
        >
          <div class="card-header para-2 font28">Additional Skills:</div>
          <div class="card-body mt-5 text-center">
            <ul class="list-unstyled">
              <li class="mb-2">
                <b>Problem-Solving</b>: Analytical thinking, troubleshooting
              </li>
              <li class="mb-2">
                <b>Team Collaboration</b>: Effective communication,
                collaboration tools
              </li>
              <li class="mb-2"><b>Agile Methodologies</b>: Scrum</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
