.container-fluid {
  padding: 0;
}

.para-1 {
  color: var(--main-color-white1);
  font-size: 32px;
}

.para-2 {
  color: var(--main-color-black);
  font-size: 56px;
}

.para-3 {
  color: var(--main-color-bg-green1);
  font-size: 21px;
}
.bg-image {
  /* Set the background image URL */
  background-image: url("/assets/Angjs.jpg");
  /* Set background image size and other properties */
  background-size: cover;
  background-position: start;
  /* Set the height of the div to display the background */
  height: 300px;
}
#cont-div {
  width: 40%;
}
