<div id="cont-div" class="container">
  <p class="para-1 font1">Hi, my name is</p>
  <span class="font1 para-2">Nivruth K</span>
  <p class="para-2 font1">
    I'm a <span class="para-2 font1">Software Developer</span>
  </p>
</div>
<div id="cont-div" class="container">
  <h6 class="para-3 font1">
    I am a software developer with a fervent enthusiasm for crafting clean,
    efficient, and robust code. My journey in the world of technology began with
    a fascination for how lines of code can translate into transformative
    experiences. With 1 year of experience under my belt, I've had the privilege
    of working on an array of projects that have honed my skills and broadened
    my horizons.
  </h6>
  <div class="btn btn-dark rounded-pill mt-4">view more</div>
</div>
